<!DOCTYPE HTML>

<html>

<head>
	<title>{{site.title}} - {{ page.title }}</title>

	<link rel="stylesheet" type="text/css" href="/styles/site.css">
	<link rel="stylesheet" type="text/css" href="/styles/syntax.css">
	<link rel="stylesheet" type="text/css" href="/styles/gist.css">

	<meta name="viewport" content="width=640" />

</head>

<body>
<div id="h4x"></div>

<h1 id="main-header">
	<a href="/">{{site.title}} / {{ page.title }}</a>

</h1>

<nav id="main-nav">
	<ul id="site-pages">
	{% for p in site.pages %}
		{% capture hack %}{{ p.url | truncate:8 }}{% endcapture %}
		{% if hack != '/page...' %}
		<li> <a href="{{p.url}}">{{ p.title }}</a> </li>
		{% endif %}
	{% endfor %}
	</ul>

	{% include links.htm %}	

</nav>


<div id="main-content">

	{{ content }}

</div>


<footer id="main-footer">
{% include footer.htm %}
</footer>

</body>


</html>
