
.tagcloud * {
	font-size:2em;
}
.tagcloud .set-10 {
	font-size:1.9em;
}
.tagcloud .set-9 {
	font-size:1.8em;
}
.tagcloud .set-8 {
	font-size:1.7em;
}
.tagcloud .set-7 {
	font-size:1.6em;
}
.tagcloud .set-6 {
	font-size:1.5em;
}
.tagcloud .set-5 {
	font-size:1.4em;
}
.tagcloud .set-4 {
	font-size:1.3em;
}
.tagcloud .set-3 {
	font-size:1.2em;
}
.tagcloud .set-2 {
	font-size:1.1em;
}
.tagcloud .set-1 {
	font-size:1em;
}